/*Criando uma variavel para reutilizar em n class*/
/*Dentro da raiz do documento no root exemplo:[ :root  ]*/

:root {
    --vermelha: #E50914;
    --preta: #141414;
    --brancaB:#AAA;
    --brancaH: #fff;
}

*{ /* *Asteristico zera as margens */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base*/

body {
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container {
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 10px;
    color: var(--vermelha);
    font-family: 'Arisl Black', Times;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}

/*filme principal*/

.filme-principal {
    font-size: 16px; /* linear-gradiente deixa a imagem com menos luz*/
    background-image: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('/img/Imagem-house.png');

    height: 450px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao {
    margin: 10px 10px 0px 10px;
}

.filme-principal .titulo {
    margin-top: 3%;
    font-size: 50px;
    text-align: center;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botoes {
    margin: 10px 10px 3px 10px;
}

.botao {
    background-color: rgba(0,0,0,.50); /* Transparencia no botão*/
    border: none;
    color: #fff;

    padding: 15px;
    margin-right: 5px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 8px;
}

.subtitulo {
    text-align: center;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    padding: 10px;
}


.filme-principal .container {
    width: 100%;
    margin: 5px;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes {
    margin-top: 8px;
    height: 100%;
}